Big Data AWS/step_function_pipeline_sivigila.json
{
  "Comment": "Pipeline DQ -> Bronze -> Silver -> Gold con Glue para dataset SIVIGILA",
  "StartAt": "dataQualityJob",
  "States": {
    "dataQualityJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "gx_data_quality_sivigila"
      },
      "ResultPath": "$.dataQualityResult",
      "Retry": [
        {
          "ErrorEquals": ["Glue.AWSGlueException", "States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "bronzeToSilverJob",
          "ResultPath": "$.dataQualityError",
          "Comment": "Si el job de calidad no existe o falla, continua igualmente (opcional)"
        }
      ],
      "Next": "validateDataQualityResult"
    },
    "validateDataQualityResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.dataQualityResult.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "bronzeToSilverJob"
        }
      ],
      "Default": "bronzeToSilverJob",
      "Comment": "Calidad de datos es una validacion opcional; el pipeline continua en cualquier caso"
    },
    "bronzeToSilverJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "datalake-dev-sivigila-etl",
        "Arguments": {
          "--input_path": "s3://datalake-dev-raw-039781381637/sivigila_intsuicidio.csv",
          "--output_path": "s3://datalake-dev-silver-039781381637/sivigila/"
        }
      },
      "ResultPath": "$.bronzeToSilverResult",
      "Retry": [
        {
          "ErrorEquals": ["Glue.AWSGlueException", "States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "JobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "silverToGoldJob"
    },
    "silverToGoldJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "datalake-dev-sivigila-gold-etl",
        "Arguments": {
          "--input_path": "s3://datalake-dev-silver-039781381637/sivigila/",
          "--output_gold_resumen": "s3://datalake-dev-gold-039781381637/sivigila_resumen_comuna/",
          "--output_gold_riesgo": "s3://datalake-dev-gold-039781381637/sivigila_perfil_riesgo/"
        }
      },
      "ResultPath": "$.silverToGoldResult",
      "Retry": [
        {
          "ErrorEquals": ["Glue.AWSGlueException", "States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "JobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PipelineSuccess"
    },
    "PipelineSuccess": {
      "Type": "Succeed",
      "Comment": "Pipeline completado: Bronze -> Silver -> Gold"
    },
    "JobFailed": {
      "Type": "Fail",
      "Error": "GlueJobFailed",
      "Cause": "Uno de los jobs de Glue fallo. Revisar CloudWatch Logs del grupo /aws-glue/jobs."
    }
  }
}

